<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h4>Hello Vue ;) </h4>
    <div id="app">
        <div v-if="showBooks">
            <h3>{{title}}</h3>
            <p>{{author}}</p>
            <p>{{number}}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span> 
            <!-- <span v-if="!showBooks">Show Books</span>  -->
            <!-- Same meaning -->
            <!-- <span v-if="showBooks == false">Show Books</span>  -->
            <span v-else>Show Books</span> 
        </button>

        <div v-show="showBooks">Currently showing books</div>
      
    </div>
    <script src="app.js"></script>
</body>
</html>